<h2>Por Region</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <!-- <shared-search-box placeHolder="Buscar por region" (onDebounce)="searchByRegion($event)"/> -->
        <button *ngFor="let region of regions"
        class="btn mx-2"
        (click)="searchByRegion(region)"
        [ngClass]="{'btn-success': selectedRegion === region}">
            {{region}}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading" />
        <countries-table [countries]="countries"/>
    </div>
</div>